<div class="panel panel-default">
    <div class="panel-heading">
        <h4>A la une</h4>
    </div>
    <div class="panel-body">
        <p>
            <ul>
                <li><span class="label label-info">New</span> <a href="/ACDF/Home/Archives">Divers archives</a></li>
                <li><span class="label label-info">New</span> <a href="/ACDF/Home/Anecdotes">Vos anecdotes</a></li>
                <li><span class="label label-info">New</span> <a href="/ACDF/Home/Index#anecdotesemaine">Anecdote de la semaine</a></li>
                <li><span class="label label-info">New</span> <a href="/ACDF/Home/Tramp">Logos Tramps</a></li>
                <li><span class="label label-info">New</span> <a href="/ACDF/Home/Index#ancienstalent">Les anciens ont du talent</a></li>
                <li><span class="label label-info">New</span> <a href="/ACDF/PdfViewer">Palmares & Tramp</a></li>
                <li><span class="label label-info">New</span> <a href="/ACDF/GuessBook">Guess Book</a></li>
            </ul>
        </p>
    </div>
    <div class="panel-footer">
        <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
        <ul class="list-inline"><li><a href="#">1 Week Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
    </div>
</div>

