<div class="col-lg-6 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Les 5 dernières photos</h4>
        </div>
        <div class="panel-body" style="font-size:small">
            @Html.Partial("_HomeLastFivePhotoPartial")
        </div>
        <div class="panel-footer">
            <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
            <ul class="list-inline"><li><a href="#">4 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>
        </div>
    </div>
</div>
<div class="col-lg-6 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Les 5 derniers posts</h4>
        </div>
        <div class="panel-body" style="font-size:small">
            @Html.Partial("_HomeLastFiveGuessBookPartial")
        </div>
        <div class="panel-footer">
            <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
            <ul class="list-inline"><li><a href="#">4 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>
        </div>
    </div>
</div>
