<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Utilisation</h4>
    </div>
    <div class="panel-body">
        <h4>Support</h4>
        <p>
            <a href="mailto:foucauld.casa@free.fr">foucauld.casa@free.fr</a> <i class="fa fa-envelope-o"></i>.
        </p>

        <h4>Inscription</h4>
        <p>
            Pour vous inscrire sur le site, cliquer sur le petit bonhomme <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> en haut à droite de la page, et sélectionner <em>S'inscrire</em>.
            Compléter le formulaire. Vous recevrez un mail de confirmation. Cliquer sur le lien contenu dans ce mail qui activera votre compte. Vous verrez votre nom d'utilisateur s'afficher alors près du petit bonhomme
            <i class="fa fa-user fa-fw"></i> <em>votre username</em> <i class="fa fa-caret-down"></i>.
        </p>
        <h4>Suppression de compte</h4>
        <p>
            Pour l'instant, envoyer un mail à cette adresse: <a href="mailto:foucauld.casa@free.fr">foucauld.casa@free.fr</a> <i class="fa fa-envelope-o"></i>.
        </p>
        <h4>Ajouter/Commenter une photo</h4>
        <p>
            Pour ajouter une photo, vous devez être connecté et vous rendre dans la <a href="~/Photo/Category">Galerie des photos</a>, puis choisir la catégorie et
            éventuellement la sous-catégorie dans laquelle vous voulez ranger votre photo. 
        </p>
        <p>
            Vous avez alors un lien en bas du titre vous invitant à ajouter une photo.
        </p>
        <p>
            Sélectionner votre photo, donnez une description le lieu et la période (0000-0000 si période inconnue). Cliquer enfin sur créer.
        </p>
        <p>
            Pour l'instant, faites moi savoir par mail si vous voulez ajouter une catégorie ou une sous-catégorie pour classer votre photo.
        </p>
    </div>
    <div class="panel-footer">
        <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
        <ul class="list-inline"><li><a href="#">4 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>
    </div>
</div>
