@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Anciens de Foucauld-Casa</h1>
    <p class="lead">Site des Anciens de Charles de Foucauld Casablanca-MAROC</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<p class="alert alert-danger">Under construction see: [ <a title="Changeset" target="_blank" href="~/AcdfHistory.txt">Changset</a> ]</p>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        NEW
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Contact page (see top menu: Contact)</li>
                        <li>Photo page (see top menu: Medias) <sub>[provisional]</sub></li>
                        <li>Video page (see top menu: Medias)</li>
                    </ul>
                    <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        WORK ITEMS
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li style="text-decoration:line-through">Contact page</li>
                        <li style="text-decoration:line-through">Photo page <small>[provisional]</small></li>
                        <li>About page</li>
                        <li>Carousel</li>
                        <li>Video gallery</li>
                        <li>Users managment</li>
                        <li>Documents managment</li>
                        <li>Forum</li>
                        <li>Photo gallery</li>
                        <li>Thought for the day</li>
                    </ul>
                    <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>